a{
    text-decoration: none;
}

a:visited {
    text-decoration: underline;
}

a:hover{
    color: white;
    background-color: rgb(255, 71, 62);
}

h1 {
    background-color: rgb(54, 54, 54);
    color: white;
}